<script type="text/javascript">
jQuery(document).ready(function() {

    jQuery('#section_course_id').html("<option value=''>Select Subject</option>");
});
</script>

<h1>New section</h1>

<%= render 'form' %>

<%= link_to 'Back', sections_path %>
