<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<div class="container">
	<div class="hero-unit">
		<h1>Welcome to Mines Scheduler!</h1><br/>
		<p style="font-size: 18px">This site makes your life slightly better by removing some of the worry and stress of registration and lets you focus on things like finals and projects.</p>
	</div>

	<div class="row">
		<div class="span4">
			<h2>How does this work?</h2>
			<p>It's simple really. Sign-up for a free account, then go to the &lsquo;Pages&rsquo; dropdown and click the &lsquo;Courses&rsquo; link. Now find all the the classes that you have completed and add them to your list of completed courses by clicking &lsquo;Completed?&rsquo;.</p>
		</div>
		<div class="span4">
			<h2>WTF!? Why is this not working?</h2>
			<p>I realize that the site is not completely functional but I am working on it. In the meantime, go ahead and set up your account and check back later.</p>
		</div>
		<div class="span4">
			<h2>Who are you?</h2>
			<p>My name is Esteban Chavez and I am a senior Computer Science student at the Colorado School of Mines. I love pizza, Mountain Dew, video games, and coding. What else do you need to know about me?</p>
		</div>
	</div>
</div>